[submodule "fundamentos/bloco-06-html-css-forms-flexbox-responsividade/dia-03-flexbox-1/exercise-tech-gallery"]
	path = fundamentos/bloco-06-html-css-forms-flexbox-responsividade/dia-03-flexbox-1/exercise-tech-gallery
	url = https://github.com/lucasdvilar/exercise-tech-gallery
