[submodule "fundamentos/bloco-06-html-css-forms-flexbox-responsividade/dia-03-flexbox-1/exercise-tech-gallery"]
	path = fundamentos/bloco-06-html-css-forms-flexbox-responsividade/dia-03-flexbox-1/exercise-tech-gallery
	url = https://github.com/lucasdvilar/exercise-tech-gallery
[submodule "fundamentos/bloco-09-js-e-testes-assincronos/dia-03-jest-testes-assincronos/9.3-content-async-test"]
	path = fundamentos/bloco-09-js-e-testes-assincronos/dia-03-jest-testes-assincronos/9.3-content-async-test
	url = https://github.com/lucasdvilar/9.3-content-async-test
[submodule "fundamentos/bloco-09-js-e-testes-assincronos/dia-03-jest-testes-assincronos/exercise-magic-card"]
	path = fundamentos/bloco-09-js-e-testes-assincronos/dia-03-jest-testes-assincronos/exercise-magic-card
	url = https://github.com/lucasdvilar/exercise-magic-card
[submodule "front-end/bloco-11-componentes-com-estado-eventos-e-formularios-com-react/dia-01-componentes-com-estado-e-eventos/exercise-pokedex-state"]
	path = front-end/bloco-11-componentes-com-estado-eventos-e-formularios-com-react/dia-01-componentes-com-estado-e-eventos/exercise-pokedex-state
	url = git@github.com:lucasdvilar/exercise-pokedex-state.git
[submodule "front-end/bloco-12-ciclo-de-vida-e-react-router/dia-01-ciclo-de-vida-de-componentes/exercises-lifecycle-step-by-step"]
	path = front-end/bloco-12-ciclo-de-vida-e-react-router/dia-01-ciclo-de-vida-de-componentes/exercises-lifecycle-step-by-step
	url = git@github.com:lucasdvilar/exercises-lifecycle-step-by-step.git
[submodule "front-end/bloco-12-ciclo-de-vida-e-react-router/dia-01-ciclo-de-vida-de-componentes/exercise-dog-image"]
	path = front-end/bloco-12-ciclo-de-vida-e-react-router/dia-01-ciclo-de-vida-de-componentes/exercise-dog-image
	url = git@github.com:lucasdvilar/exercise-dog-image.git
[submodule "front-end/bloco-12-ciclo-de-vida-e-react-router/dia-02-react-router/comprehension-exercises-router"]
	path = front-end/bloco-12-ciclo-de-vida-e-react-router/dia-02-react-router/comprehension-exercises-router
	url = git@github.com:lucasdvilar/exercise-dog-image.git
