body{
    font-size: 16px;
  }

  h1{
      width: 65px;
      color: orange;
      font-family: sans-serif;
  }

  p{
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
  }

  ul{
      background-color: orchid;
      font-style: italic;
      line-height: 25px;
  }

  .background-color{
      background-color:royalblue;
  }

  #red{
    background-color: red;
  }

  .brown{
    background-color: brown;
  }