#userExperienceSection {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

input {
  width: 192px;
  height: 20px;
}

button {
  width: 200px;
  height: 30px;
  margin-top: 10px;
}